<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="author" content="Vitor" />
    <meta name="description=" content="Data Science Toy Application" />
    <title> Data Science Toy Application </title>
    <link rel="icon" href="cloud_api.jpg" type="image/x-icon>" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	{% block head %}{% endblock %} 
</head>
<body>
	{% block body %}{% endblock %}
</body>
</html>
