/* Units in css */

/*
vh - height - percent of the screen
vw - width - percent of the screen
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --my-width:80vw;
    --my-height:80vh;
}

.header {
    /* width: 10vw;  */
    height: 10vh;
    background: blue;
}

.banner {
    /* width: var(--my-width); */
    height: var(--my-height);
    background: red
}

.bottom {
    /* width: 10vw; */
    height: 10vh;
    background: green;
}