/*
CSS BOX MODEL
*/

* {
    margin:0;
}

h1 {
    background: yellow;
    padding: 30px;
    margin:60px;
    /* border-style: dashed; */
    /* border-width: 10px; */
    /* border-color: purple; */
    border-bottom-style: dashed;
    border-bottom-width: 0.3rem;
}

p {
    background: rgb(150, 150, 255);
    padding: 20px;
    margin: 100px 20px 20px 50px;
    border: 13px solid blue
    /* padding: 30px 60px; */
    /* padding: 20px 80px 60px 10px; */

}